<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name = "secureAppSettings" type = "System.Configuration.NameValueSectionHandler, System, Version = 4.0.0.0, Culture = neutral, PublicKeyToken = b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <!--<add name="cn" connectionString="Data Source =.; Initial Catalog =BD_SISCOPWEB_16_10_2020; Integrated Security = True" />-->
    <!--<<add name="cn" connectionString="server=DESKTOP-83A82DU\SQLEXPRESS;user id=sa;password=tecflex;database=BDSISFOODWEB" />-->
    <add name="cn" connectionString="server=192.168.1.45,1433;user id=tecflex;password=tecflex;database=BDSISFOODWEB_DESARROLLO" />
    <!--<add name="cn" connectionString="server=192.168.1.158,1433;user id=sa;password=tecflex;database=BDSISFOODWEB" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="rutaLog" value="C:/Temp/Logs/SisfoodService" />
    <add key="RutaArchivos" value="C:\inetpub\wwwroot\siscopweb\WebSite\Fotos_Marca\" />
    <add key="RutaFotoPermiso" value="C:\inetpub\wwwroot\siscopweb\WebSite\Fotos_Permiso\" />
    <!--    <add key="RutaMasivoEmpleado" value="C:\Proyectos\Hebert\19.03.2021_1512\Sln_CBX_Web_SISFOOD_\CBX_Web_SISCOP\DirMasivoEmpleado\" />-->
    <add key ="PuertoPrinter" value="9100"/>
    <add key ="IPPrinter" value="192.168.1.204"/>    
    <add key="timeSQL" value="900" />
  </appSettings>
  
  
  <secureAppSettings>
    <add key="wsVersion" value=" 1.1.13.211118.WS" />  <!--================ VERSION ================-->
  </secureAppSettings>
  
  
  <system.web>
    <!--<httpRuntime maxRequestLength="2147483647"  executionTimeout="2147483647" />-->
    <compilation debug="true" targetFramework="4.5" />
       <httpRuntime targetFramework="4.5" maxRequestLength="200000" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.ConfiguracionSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.IConfiguracionSrv" />
      </service>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.SistemaSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.ISistemaSrv" />
      </service>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.ReportesSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.IReportesSrv" />
      </service>
      <!--segmento añadido el 23.02.2021 para controlar error: El servidor remoto devolvió una respuesta inesperada: (413) Request Entity Too Large. -->
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.AsistenciaSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.IAsistenciaSrv" />
      </service>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.OrganizacionSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.IOrganizacionSrv" />
      </service>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.PersonalSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.IPersonalSrv" />
      </service>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.ProcesoSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.IProcesoSrv" />
      </service>
      <service behaviorConfiguration="ServiceSisCopBehavior" name="CBX_ServiceSISCOP.SeguridadSrv">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CBX_ServiceSISCOP.ISeguridadSrv" />
      </service>
      <!--segmento añadido el 23.02.2021 -->      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceSisCopBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

 
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBindingConfig" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
